<h1>Hey {{user.username}}</h1>
<div class="aboutme">
  <h3>About me:</h3>
  <p>{{user.aboutMe}}</p>
</div>
<a href="/wishlist">Wishlist ({{user.wishList.length}})</a>

<div class="collection-list">
  {{#each records}}
  <div class="album-card">
    <img src="{{thumb}}" alt="">
    <h2>{{artists_sort}}</h2>
    <h3>{{title}}</h3>
    <a href="/artist/{{id}}/delete"><button>Remove from collection</button></a>
  </div>
  {{/each}}
</div>