<div class="collection-list profile">
  <h1>Wishlist</h1>

  <div class="collection-container">
    {{#each records}}
    <div class="album-card-profile">
      <a href="/artist/{{artists.0.id}}">
        <h2>{{artists_sort}}</h2>
      </a>
      <a href="/artist/{{artists.0.id}}/album/{{id}}">
        <img src="{{images.0.uri}}" alt="">
        <h3>{{title}}</h3>
      </a>
      <a id="button-remove" href="/artist/{{id}}/deleteWishList">Remove from Wishlist</a>
    </div>
    {{/each}}
  </div>
</div>