<h1>{{user.username}}</h1>
<div class="aboutme">
  <h3>About me:</h3>
  <p>{{user.aboutMe}}</p>
  <h3>{{user.city}}, {{user.country}}</h3>
  <a href="/user/{{user}}/edit">Edit Profile</a>
</div>
<a href="/wishlist">Wishlist ({{user.wishList.length}})</a>

<div class="collection-list">
  {{#each records}}
  <div class="album-card">
    <a href="/artist/{{artists.0.id}}">
      <h2>{{artists_sort}}</h2>
    </a>
    <a href="/artist/{{artists.0.id}}/album/{{id}}">
      <img src="{{thumb}}" alt="">
      <h3>{{title}}</h3>
    </a>
    <a href="/artist/{{id}}/delete"><button>Remove from Collection</button></a>
  </div>
  {{/each}}
</div>