<h1>{{albums.0.artist}}</h1>
<h2>Albums:</h2>
{{#each albums}}
{{#if main_release}}
<a href="/artist/{{../artistId}}/album/{{main_release}}">
  <h2>{{title}}</h2>
</a>
<img src="{{thumb}}" alt="{{title}}">
{{#if ../user}}
{{#unless addedToRecords}}
<a href="/artist/{{main_release}}/addtocollection"><button>Add to Collection</button></a>
{{/unless}}
{{#unless addedToWishlist}}
<a href="/artist/{{main_release}}/addtowishlist"><button>Add to Wishlist</button></a>
{{/unless}}

{{/if}}
{{else}}
<a href="/artist/{{../artistId}}/album/{{id}}">
  <h2>{{title}}</h2>
</a>
<img src="{{thumb}}" alt="{{title}}">
{{#if ../user}}
{{#unless addedToRecords}}
<a href="/artist/{{id}}/addtocollection"><button>Add to Collection</button></a>
{{/unless}}
{{#unless addedToWishlist}}
<a href="/artist/{{id}}/addtowishlist"><button>Add to Wishlist</button></a>
{{/unless}}
{{/if}}
{{/if}}
{{/each}}