<div class="artist-results">
  <h1>Artists: </h1>

  <div class="artist_container">
    {{#each artists}}
    {{#if thumb}}
    <div class="artist-card">
      <a href="/artist/{{id}}">
        <img src='{{cover_image}}' style="height: 200px;" alt=" cover of {{title}}">
      </a>
      <h2><a href="/artist/{{id}}">{{title}}</a></h2>
    </div>

    {{else}}
    <div class="artist-card">
      <a href="/artist/{{id}}">
        <img src="./images/vinyl.jpeg" style="height: 200px;" alt="filler image">
      </a>
      <h2><a href="/artist/{{id}}">{{title}}</a></h2>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>